## --> OS X Finder
.DS_Store
.Trashes
*.swp

## --> Build generated
build/
DerivedData
.build/

## --> Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
!default.xcworkspace
profile
*.xctimeline

## --> Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## --> Obj-C/Swift specific
*.hmap
*.ipa

##

## --> Swift Package Manager
##.build/

## --> CocoaPods
Pods/

## --> Carthage
##Carthage/

## -- Infer
infer-out/


ruby
fastlane/report.xml
fastlane/test_output/report.html
fastlane/test_output/report.junit
EPIX.app.dSYM.zip
node_modules
EPIX NOW.app.dSYM.zip
apollo-ios-cli
/EPIX.xcodeproj/xcshareddata/xcschemes/MGM QA NotificationsService.xcscheme
/EPIX.xcodeproj/xcshareddata/xcschemes/MGM NotificationsService.xcscheme
.vscode/
